.menu {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0px;
}
.err__punkt {
	color: red;
}
.description {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
}
.button {
	padding: 10px;
	background-color: cornflowerblue;
	color: #fff;
	margin-bottom: 10px;
}
