.header__block {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 17px 0px;
}
.logo {
	color: var(--primary-color);
}
.header__info {
	display: flex;
	column-gap: 30px;
	align-items: center;
}
.headerLogo {
	color: #0030e2;
}
.header__text {
	display: flex;
	column-gap: 28px;
	align-items: center;
}
.text__block {
	max-width: 154px;
}
.text__block .info__city {
	font-weight: 500;
	line-height: normal;
}
.text__block .info__adress {
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
}
.number__block {
	font-weight: 500;
	line-height: 1.4; /* 22.4px */
	letter-spacing: 0.16px;
}
.header__action {
	display: flex;
	column-gap: 25px;
	align-items: center;
}

@media (max-width: 1150px) {
	.header__action {
		flex-direction: row-reverse;
	}
}
