.node__row {
  display: flex;
}
.handles__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.handle {
  position: relative;
}
.id {
  font-size: 18px;
}
.input {
  padding: 5px;
  border: 1px solid black;
}
