.time {
  font-size: 40px;
}
.battery {
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.battery__icon {
  font-size: 80px;
}
.bulb__row {
  display: flex;
  gap: 30px;
}
.bulb__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.bulb {
  font-size: 80px;
  cursor: pointer;
  opacity: 0.3;
  transition: var(--tran-03);
}
.bulb.active {
  opacity: 1;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blinker {
  font-size: 100px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blinker__icon {
  cursor: pointer;
  opacity: 0.3;
  color: red;
  transition: var(--tran-03);
  transform: rotate(0deg);
}
.blinker__icon.active {
  opacity: 1;
  transform: rotate(40deg);
}
.text {
  font-size: 30px;
}
