.log__text {
	color: var(--terminal-default-color);
	line-height: 1;
	padding: 4px 0px;
	font-size: 18px;
	word-break: break-word;
}

.err {
	color: var(--terminal-err-color);
}
.in {
	color: var(--terminal-in-color);
}
.out {
	color: var(--terminal-out-color);
}
