.panel {
  position: relative;
  background-color: #fff;
}
.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #1976d2;
  font-size: 26px;
}
.btn__arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.btn__arrow.visible {
  transform: rotate(180deg);
}
.elements__panel {
  position: absolute;
  height: 450px;
  overflow: scroll;

  top: calc(100% + 30px);
  right: 0%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  border-radius: 5px;
  transform: translateY(-10px);
  background-color: #fff;
  border: 1px solid rgb(196, 196, 196);
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--tran-03);
}
.elements__panel.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.sidebar__label {
  margin-bottom: 10px;
}
.panel__items {
  display: grid;
  grid-template-columns: repeat(
    2,
    max-content
  ); /* Ровно 2 столбца, ширина каждого зависит от содержимого */
  gap: 20px; /* Расстояние между элементами */
  justify-content: start; /* Ряды начинаются от начала */
  align-items: center;
}
