.send__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	padding: 10px 0px;
	gap: 10px;
}

.send__input {
	padding: 10px;
	border: 1px solid #000;
	color: rgba(0, 0, 0, 0.87);
	flex-grow: 1;
}
.send__btn {
	cursor: pointer;
	font-size: 30px;
	transition: 0.3s all;
}
.send__btn:hover {
	color: var(--primary-color);
}
